body
{
    background: #eeeeee;
    color: #404040;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 25px;
    background: #a307ec;
    color: white;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
}

.header .logo
{
    width: 25px;
    vertical-align: middle;
}

.header .tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

.container
{
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 2rem auto;
    box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.2);
}

.container h1
{
    font-size: 2rem;
}

.post {
    background: white;
    padding: 1rem;
}

.footer
{
    padding: 0.5rem;
    background: rgb(230, 220, 240);
    color: purple;
    text-align: center;
}